// http://ionicframework.com/docs/v2/theming/


// App Shared Sass
// --------------------------------------------------
// CSS that should apply to the app for every mode


// App Shared Imports
// --------------------------------------------------
// These are the various page imports which make up this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.

@import "../pages/tutorial/tutorial";
@import "../pages/login/login";
@import "../pages/home/home";
@import "../pages/category/category";
@import "../pages/filter/filter";
@import "../pages/listings/listings";
@import "../pages/product-details/product-details";
@import "../pages/profile/profile";
@import "../pages/wishlist/wishlist";
@import "../pages/offers/offers";
@import "../pages/cart/cart";
@import "../pages/address/address";
@import "../pages/payment/payment";
@import "../pages/confirm-order/confirm-order";



/* 
	Platform Wide styles 
*/
body {
	-webkit-font-smoothing: antialiased;
	font-family: 'Open Sans', sans-serif;
}
  /* hide scrollbar */
::-webkit-scrollbar {
	width: 0;
	background: transparent;
}
::-webkit-scrollbar-thumb {
	background: transparent;
}
ion-app {
	background: #fd5459;
}

/* Nav Bar */
.toolbar-background {
	background: transparent;
	border: none;
	border-bottom: 1px solid #f4f4f4;
}
.bar-button-default {
	color: #8f99a2;
}
.bar-button-icon-only ion-icon {
	font-size: 2.3rem;
}
ion-title {
	padding: 0 80px 1px;
}
.toolbar-title {
	font-size: 1.3rem;
	color: #323844;
	text-transform: uppercase;
}
.navbar-text {
	color: #88959e;
	padding-right: 0.7rem;
}

/* ActionSheet */
.action-sheet-container {
	padding: 0;
}
.action-sheet-group:last-child {
	margin-bottom: 0;
	border-radius: 0;
}
.action-sheet-title {
	color: #fd5459;
	font-family: 'Open Sans', sans-serif;
	border-bottom: 1px solid #e9e9e9;
}
.action-sheet-button {
	color: #313b44;
	border-bottom: 1px solid #f3f3f3;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.4rem;
}

/* Items */
.item {
	background: transparent;
}


/* tab background */
ion-tabbar {
	background: transparent;
	border-top: 1px solid #e6e6e8;
}
/* Tab icon height */
.tab-button-icon {
	height: 25px;
  font-size: 25px;
}

/* button */
.button {
	margin-bottom: 1rem;
	font-size: 1.7rem;
}
.button-btn1 {
	color: #fff58f;
	text-transform: uppercase;
}
.button-full.button-outline {
	border:1px solid #ededed;
	text-transform: uppercase;
	color: #b9b9b9;
}
/* Side Menu */
ion-menu {
	width: 70%;
	background: #fd5459;
	background-size: contain;
  background-position-x: 15rem;
  	.menu-inner {
  		background: #fd5459;
  	}
		.outer-content {
			margin-top: 4rem;
			background: transparent;
				ion-list-header {
					color: #ffb5b9;
				}
				ion-label {
					font-size: 1.4rem;
				}
				ion-icon {
					font-size: 2rem;
					color: #fff;
					padding-right: 1rem;
				}
				.item {
					background: transparent;
					color: #fff;
				}
		}
}
.menu-content.menu-content-reveal.menu-content-open {
	height: 85vh;
  margin-top: 5rem;
	transform: translateX(70%) !important;
 	/*transform: translate3d(75%, 0px, 0px) !important;*/
 /*width: calc(100% - 270px) !important;*/
}